
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCevTFQbfTVJ06cjln88hIkmmp60K73MqA"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>


<div class="max-width">
  <div class="section">
    <div class="section-content">
      <div class="rowe nav-bar max-width">
        <div class="columns ten offset-by-one">
          <a href="#section2">THE PROPERTY</a>
          <a href="#section3">LOCATION</a>
          <a href="#section4">LOCAL AMENITIES</a>
          <a href="#section5">GALLERY</a>
          <a href="#section6">CONTACT & AVIALABILITY</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-content">
      <div id="sliderFrame">
        <div id="slider">
          <%= image_tag("Slide1 .jpg", class: "scrolling-images") %>
          <%= image_tag("Slide2.jpg", class: "scrolling-images") %>
          <%= image_tag("Slide3.jpg", class: "scrolling-images") %>
          <%= image_tag("Slide4.jpg", class: "scrolling-images") %>
          <%= image_tag("Slide5.jpg", class: "scrolling-images") %>
          <%= image_tag("Slide6.jpg", class: "scrolling-images") %>
          <%= image_tag("slide7.jpg", class: "scrolling-images") %>
          <%= image_tag("slide8.jpg", class: "scrolling-images") %>
          <%= image_tag("slide9.jpg", class: "scrolling-images") %>
          <%= image_tag("slide10.jpg", class: "scrolling-images") %>
          <%= image_tag("Pool Side.jpg", class: "scrolling-images") %>
        </div>
      </div>
    </div>
  </div>


  <div class="section title-bar rowe max-width" id="section2" >
    The Property
  </div>

  <div class="section">
    <div class="section-content">
      <div class="about-content background">
        <div class="rowe">
          <div class="columns three">
            <p class="property-header">Activites</p>
            <hr class="underline">
            <p>
              In autumn and winter, full central heating ensures that the whole house is warm. An imposing living room fireplace is ideal for generous log fires during winter evenings, which can be spent playing any of the wide selection of board games, watching UK channels on the wide screen TV, or listening to CDs or iPod through a high quality sound system
            </p>
          </div>


          <div class="columns six">
            <p class="property-header">The House</p>
            <hr class="underline">
            <p>
              Living areas are spacious and comfortably furnished, offering plenty of flexible space for adults and children of all ages.

              Ground floor consists of a large, open kitchen/dining room, ideal for small or large groups and fully equipped with high standard electrical appliances (including dishwasher, coffee machine, toaster and food processor); and a spacious, comfortable reception room with plenty of seating.

              At the rear is a sunny and spacious second reception with mezzanine floor and futons for additional sleeping accommodation. A separate utility room contains a washing machine, tumble dryer and an additional very large fridge-freezer. There is a large bathroom (with bath and separate shower) and a separate WC.

              On the first floor are five good-sized double bedrooms, one with en suite bathroom that features a free-standing bath (with views of the village!), walk-in shower and twin basins. Four of the bedrooms have double beds, the fifth has twin beds with two further z-beds available if required. There is an additional family bathroom with walk-in shower and twin basins, and a separate WC.
            </p>
          </div>
          <div class="columns three">
            <p class="property-header">Description</p>
            <hr class="underline">
            <p>
              This is a beautiful, fully modernised farmhouse in the heart of the Gascony countryside, with accommodation that is ideal for both summer and winter. Situated in a quiet and secluded hilltop location, it has lovely views of nearby Monfort village and is just a 10-minute drive from the historic market towns of Fleurance and Mauvezin.

            </p>
          </div>
        </div>
        <hr>
        <div class="rowe">
          <div class="columns six">
            <p class="property-header">Features</p>
            <hr class="underline">
            Swimming pool (13m x 6.5m), surrounded by large paved terrace with pool house (including refrigerator) and a pool alarm</br>

            Sunny paved terraces at front and back</br>

            TV with UK satellite channels (Freesat), DVD player and good stock of DVDs</br>

            Music stereo system with large selection of CDs</br>

            Wi-fi throughout</br>

            Barbecue</br>

            Outdoor climbing frame, table tennis, badminton set, bicycles, and a large selection of indoor board games
          </div>
          <div class="columns six">
            <p class="property-header">Accomodation</p>
            <hr class="underline">
            Two living rooms (one with TV and large working fireplace)</br>

            Spacious dining area with large custom-made table seating up to 12</br>

            Large, very well equipped kitchen</br>

            5 bedrooms (1 double with ensuite, 3 further doubles, 1 twin with flexibility for 2 further beds)</br>

            1 large bathroom with walk in shower</br>

            1 further large bathroom with bath and separate shower</br>

            Utility room with washing machine, tumble dryer and additional fridge-freezer</br>

          </div>

        </div>
      </div>
      <div id="section3"></div>
    </div>
  </div>



  <div class="section title-bar rowe">
    LOCATION
  </div>

  <div class="section">
    <div class="location section-content">
      Welcome to the <br/> South of France <br/> Nearest city - Mauvezin <br /> Region - Midi-Pyenees <br/>
      <%= image_tag("Franceoutline.png", id: "franceoutline") %>

    </div>
  </div>

  <div class="map-container">
    <div id="map" class="map-container"></div>
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({

      provider: {
        scrollwheel: false
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": 43.795,
          "lng": 0.811010,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "The Property! "
        },
        {
          "lat": 43.629363,
          "lng": 1.367725,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Toulose Airport "
        },
        {
          "lat": 43.795359,
          "lng": 0.823040,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Monfort! The local village."
        }
      ]);
      handler.bounds.extendWith(markers);

      handler.fitMapToBounds();

      handler.getMap().setZoom(10);
    }
  );
  </script>
  <div id="section4"></div>
</div>




  <div class="section title-bar rowe">
    LOCAL AMENITIES
  </div>
  <div class="background ">
    <div class="section">
      <div class="section-content">
        <div class="rowe activity-header">
          <h4>Local Towns and Villages</h4>
        </div>

        <div class="rowe">
          <div class="six columns">
            <h4>Mauvezin</h4>
              <%= image_tag("Mauvezin.jpg", class: "village-image") %>
              <%= image_tag("Mauvezin-potent.jpg", class: "village-image") %>
            </br>
            Historic market town, with weekly Monday market. </br>See map for Location and Directions.
          </div>
          <div class="six columns">
            <h4>Monfort</h4>
            <%= image_tag("monfort.jpg", class: "village-image") %>
            <%= image_tag("Monfort2.jpg", class: "village-image") %>
          </br>
          Just a ten minute walk from the house Monfort Village is a pictureque French Village </br>
          With Restaurants coffee shops and a beautiful square Monfort is the perfect place to unwind.</br>
          More info about Monfort and naighbouring French Villages <a class="link-style" href="http://www.francethisway.com/places/a/monfort-gers.php"> here.</a>
          </div>
        </div>

        <div class="rowe activity-header">
          <h4>Kids Activites</h4>
        </div>
        <div class="rowe">
          <div class="four columns">
            Allée du Lac, 32600 L'Isle-Jourdain, France</br>
            Kneeboarding-Wakeboarding Cable park.</br>
            20 minute drive - Approx </br>
            <%= image_tag("wake.png", class: "activity-image") %>
          </div>
          <div class="four columns">
            21 Rue Jean-Manuel Fangio, 31600 Muret, France</br>
            Go Karting</br>
            40 minute drive - Approx </br>
            <%= image_tag("kart.png", class: "activity-image") %>
          </div>
          <div class="four columns">
            Newly laid tennis court</br>
            in nearby Monfort village</br>
            10 minute drive - Approx </br>
            <%= image_tag("tennis.png", class: "activity-image") %>
          </div>
        </div>


        <div id="section5"></div>
      </div>
    </div>



    <div class="gallery-section">
      <div class="section-content">
        <div class="rowe title-bar">
          GALLERY
        </div>

        <div class="gallery cf">

          <div>
            <%= image_tag("Livingroom2.jpg") %>
          </div>
          <div>
            <%= image_tag("Slide1 .jpg") %>
          </div>
          <div>
            <%= image_tag("Slide2.jpg") %>
          </div>
          <div>
            <%= image_tag("Slide3.jpg") %>
          </div>
          <div>
            <%= image_tag("Slide4.jpg") %>
          </div>
          <div>
            <%= image_tag("Slide5.jpg") %>
          </div>
          <div>
            <%= image_tag("Slide6.jpg") %>
          </div>
          <div>
            <%= image_tag("slide7.jpg") %>
          </div>
          <div>
            <%= image_tag("slide8.jpg") %>
          </div>
          <div>
            <%= image_tag("slide10.jpg") %>
          </div>
          <div>
            <%= image_tag("kitchen.jpg") %>
          </div>
          <div>
            <%= image_tag("house1small.jpg") %>
          </div>

          <div>
            <%= image_tag("house2small.jpg") %>
          </div>


          <div>
            <%= image_tag("Outsideeating.jpg") %>
          </div>
          <div>
            <%= image_tag("Pool.jpg") %>
          </div>
        </div>
        <div id="section6"></div>
      </div>
    </div>




    <div class="section">
      <div class="section-content">
        <div class="rowe title-bar">
          CONTACT & AVAILABILITY
        </div>
        <div class="calendar-container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="well controls">
                <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-backward"></i>
                <% end %>
                <%= "#{@date.strftime("%B")} #{@date.year}" %>
                <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-forward"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= calendar @date do |date| %>
              <%= date.day %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
