
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCevTFQbfTVJ06cjln88hIkmmp60K73MqA"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>



<div class="section">
  <div class="section-content">
    <div class="rowe nav-bar max-width">
      <div class="columns ten offset-by-one">
        <a href="#section2">THE PROPERTY</a>
        <a href="#section3">LOCATION & DIRECTIONS</a>
        <a href="#section4">LOCAL AMENITIES</a>
        <a href="#section5">GALLERY</a>
        <a href="#section6">CONTACT & AVAILABILITY</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-content">
    <div id="sliderFrame">
      <div id="slider">
        <%= image_tag("Slide1 .jpg", class: "scrolling-images") %>
        <%= image_tag("Slide2.jpg", class: "scrolling-images") %>
        <%= image_tag("Slide3.jpg", class: "scrolling-images") %>
        <%= image_tag("Slide4.jpg", class: "scrolling-images") %>
        <%= image_tag("Slide5.jpg", class: "scrolling-images") %>
        <%= image_tag("slide8.jpg", class: "scrolling-images") %>
        <%= image_tag("slide10.jpg", class: "scrolling-images") %>
        <%= image_tag("Pool Side.jpg", class: "scrolling-images") %>
      </div>
    </div>
  </div>
</div>


<div class="section title-bar rowe max-width" id="section2" >
  The Property
</div>


<div class="container">
  <div class="section ">
    <div class="section-content">
      <div class="about-content background-repeat">
        <div class="rowe ">
          <div class="columns two">
            <p class="property-header">Description</p>
            <hr class="underline">
            <p>
              This is a beautiful, fully modernised farmhouse in the heart of the Gascony countryside, with accommodation that is ideal for both summer and winter. Situated in a quiet and secluded hilltop location, it has lovely views of nearby Monfort village and is just a 10-minute drive from the historic market towns of Fleurance and Mauvezin.

            </p>
          </div>
          <div class="columns six">
            <p class="property-header">The House</p>
            <hr class="underline">
            <p>
              Living areas are spacious and comfortably furnished, offering plenty of flexible space for adults and children of all ages.

              Ground floor consists of a large, open kitchen/dining room, ideal for small or large groups and fully equipped with high standard electrical appliances (including dishwasher, Nespresso coffee maker, toaster and food processor); and a spacious, comfortable reception room with plenty of seating.

              At the rear is a sunny and spacious second reception with mezzanine floor and futons for additional sleeping accommodation. A separate utility room contains a washing machine, tumble dryer and an additional very large fridge-freezer. There is a large bathroom (with bath and separate shower) and a separate WC.

              On the first floor are five good-sized double bedrooms, one with en suite bathroom that features a free-standing bath (with views of the village!), walk-in shower and twin basins. Four of the bedrooms have double beds, the fifth has twin beds with two further z-beds available if required. There is an additional family bathroom with walk-in shower and twin basins, and a separate WC.
            </p>
          </div>
          <div class="columns four">
            <p class="property-header">Activities</p>
            <hr class="underline">
            <p>
              In spring and summer, families can enjoy the outdoor spaces with swimming pool, climbing frame, table tennis table and large grassed area for badminton and ball games. Additional outdoor terraces at the front and rear are ideal for al fresco dining.
              In autumn and winter, full central heating ensures that the whole house is warm. An imposing living room fireplace is ideal for generous log fires during winter evenings, which can be spent playing any of the wide selection of board games, watching UK channels on the wide screen TV, or listening to CDs or iPod through a high quality sound system.
              There is also a wide range of DVDs and books which add to the entertainment mix
            </p>

          </div>
        </div>
        <hr>
        <div class="rowe">
          <div class="columns six">
            <p class="property-header">Features</p>
            <hr class="underline">
            Swimming pool (13m x 6.5m), surrounded by large paved terrace with pool house (including refrigerator) and a pool alarm</br>

            Sunny paved terraces at front and back</br>

            Plenty of parasols and comfortable garden furniture for outdoor dining, sunbathing and relaxing</br>

            TV with UK satellite channels (Freesat), DVD player and good stock of DVDs</br>

            Music stereo system with large selection of CDs</br>

            Wi-fi throughout</br>

            Barbecue</br>

            Outdoor climbing frame, table tennis, badminton set, bicycles, and a large selection of indoor board games
          </div>
          <div class="columns six">
            <p class="property-header">Accommodation</p>
            <hr class="underline">
            Two reception rooms (one with TV and large working fireplace)</br>

            Spacious dining area with large custom-made table seating up to 12</br>

            Large, very well equipped kitchen</br>

            5 bedrooms (1 double with ensuite, 3 further doubles, 1 twin with flexibility for 2 further beds)</br>

            1 large bathroom with walk in shower</br>

            1 further large bathroom with bath and separate shower</br>

            Utility room with washing machine, tumble dryer and additional fridge-freezer</br>

          </div>
        </div>
        <div class="rowe spacing">
          <p class="property-header">
            On site services
          </p>
          <hr class="underline">
          Local cleaner/housekeeper</br>
Fluent English speaking property manager</br>
Weekly cleaning visits by poolman</br>

        </div>
      </div>
      <div id="section3"></div>
    </div>
  </div>
</div>

<div class="section title-bar rowe">
  LOCATION & DIRECTIONS
</div>

<div class="section">
  <div class="location section-content">
    Redion: Midi-Pyrénées <br/>
    Nearest city: <a class="link-hover" href="#section4">Toulose</a>  <br/>
    Nearest town: <a class="link-hover" href="#section7">Mauvezin</a> <br />
    Nearest village: <a class="link-hover" href="#section7">Monfort</a> <br/>
    <%= image_tag("Franceoutline.png", id: "franceoutline") %>
  </div>
</div>

<div class="section">
  <div class="section-content">
    <div class="directions">
      <p id="toggle">DIRECTIONS </p>
      <div class="rowe">
        <a href="https://www.google.co.uk/maps/place/43.7950039,0.808816" class="button button-style">Click here for directions on Google Maps</a></br>
        Or enter this Latitude and Longitude into your satnav.</br>
        Latitude: 43.795;    Longitude: 0.811010;
      </div>
    </div>


  </div>
</div>


<div class="section">
  <div class="map-container">
    <div id="map" class="map-container"></div>
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({

      provider: {
        scrollwheel: false
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": 43.795,
          "lng": 0.811010,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png",
            "width":  40,
            "height": 40
          },
          "infowindow": "The Property! "
        },
        {
          "lat": 43.629363,
          "lng": 1.367725,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Toulose Airport "
        },
        {
          "lat": 43.795466,
          "lng": 0.822173,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Monfort! The local village."
        },
        {
          "lat": 44.10562,
          "lng": 0.727695,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Go Karting"
        },
        {
          "lat": 43.619586,
          "lng": 1.071170,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Wakeboarding"
        },
        {
          "lat": 43.730566,
          "lng": 0.877422,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Mauvezin local town with weekly markets"
        },
        {
          "lat": 43.849727,
          "lng": 0.662618,
          "picture": {
            "url": "http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Chartreuse-icon.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "Fleurance local town with weekly market"
        },

      ]);
      handler.bounds.extendWith(markers);

      handler.fitMapToBounds();

      handler.getMap().setZoom(10);
    }
  );
  </script>
</div>


</div>

<div id="section4"></div>





<div class="section title-bar rowe">
  LOCAL AMENITIES
</div>

<div class="container">
  <div class="section">
    <div class="background-repeat">
      <div class="section-content">

        <div class="rowe">
          <p class="property-header-amenities pad">Toulouse</p>
          <hr class="underline">
          <%= image_tag("tolose2.jpg", class: "village-image") %>
          <%= image_tag("touolose.jpg", class: "village-image") %>

          <p class="tolose-text">
            Its unique architecture and terracotta bricks are why Toulouse is nicknamed “the pink city". It boasts a multitude of museums, galleries, churches, restaurants and shops as well as a delightful Vieux Quartier which is ideal for leisurely walks and enjoying a uniquely French environment. International transport links are excellent, with Toulouse airport having recently completed a multimillion pound upgrade.<div id="section7"></div>

          </p>
        </br>

      </div>
      <div id="section8"></div>
      <div class="rowe padding-local-amenities">
        <div class="six columns">
          <p class="property-header-amenities">Mauvezin</p>
          <hr class="underline">
          <%= image_tag("Mauvezin.jpg", class: "village-image") %>
          <%= image_tag("Mauvezin-potent.jpg", class: "village-image") %>
        </br>
        Historic market town, with weekly Monday market. </br>See map for Location and Directions.
      </div>
      <div class="six columns">
        <p class="property-header-amenities">Monfort</p>
        <hr class="underline">
        <%= image_tag("monfort.jpg", class: "village-image") %>
        <%= image_tag("Monfort2.jpg", class: "village-image") %>
      </br>
      Just a ten minute walk from the house, Monfort is a picturesque French Village with its own grocery store, boulangerie and post office. With a popular restaurant/bar right adjacent to the beautiful village square, Monfort is the perfect place to unwind.
    </div>
  </div>

    <div class="rowe activity-header spacing">
      <p class="property-header-amenities">Kids Activities</p>
      <hr class="underline">
    </div>
    <div class="rowe">
      <div class="four columns">
        Newly laid tennis court</br>
        in Monfort village</br>
        5 minute drive - Approx </br>
      </div>
      <div class="four columns">
        Allée du Lac, 32600 L'Isle-Jourdain</br>
        Kneeboarding-Wakeboarding Cable park.</br>
        30 minute drive - Approx </br>

      </div>
      <div class="four columns">

        Lieu dit Peyroche,
        Route d'Astaffort,
        47220 Caudecoste,
        40 minute drive - Approx

      </div>

    </div>
    <div class="rowe">
      <div class="four columns">
        <%= image_tag("tennis.png", class: "activity-image") %>

      </div>
      <div class="four columns">
        <%= image_tag("kart.png", class: "activity-image") %>
      </div>
      <div class="four columns">
          <%= image_tag("wake.png", class: "activity-image") %>
      </div>
    </div>
    <div id="section5"></div>
  </div>
</div>
</div>
</div>





  <div class="gallery-section">
    <div class="section-content">
      <div class="rowe title-bar">
        GALLERY
      </div>
      <div class="container">

      <div class="gallery cf">

        <div>
          <%= image_tag("Livingroom2.jpg") %>
        </div>
        <div>
          <%= image_tag("Slide1 .jpg") %>
        </div>
        <div>
          <%= image_tag("Slide2.jpg") %>
        </div>
        <div>
          <%= image_tag("Slide3.jpg") %>
        </div>
        <div>
          <%= image_tag("Slide4.jpg") %>
        </div>
        <div>
          <%= image_tag("Slide5.jpg") %>
        </div>
        <div>
          <%= image_tag("Slide6.jpg") %>
        </div>
        <div>
          <%= image_tag("slide7.jpg") %>
        </div>
        <div>
          <%= image_tag("slide8.jpg") %>
        </div>
        <div>
          <%= image_tag("slide10.jpg") %>
        </div>
        <div>
          <%= image_tag("kitchen.jpg") %>
        </div>
        <div>
          <%= image_tag("house1small.jpg") %>
        </div>

        <div>
          <%= image_tag("house2small.jpg") %>
        </div>


        <div>
          <%= image_tag("Outsideeating.jpg") %>
        </div>
        <div>
          <%= image_tag("Pool.jpg") %>
        </div>
      </div>
      <div id="section6"></div>
    </div>
  </div>
</div>






<div class="section">
  <div class="section-content contact-content">
    <div class="rowe title-bar">
      CONTACT & AVAILABILITY
    </div>

    <div class="rowe">
      <div class="columns six">
        <div class="activity-header property-header">
          <strong>How to book?</strong>
          <hr class="underline-white">
        </div>
        <div class="neg-padding">
          <i class="fa fa-envelope icons-style" aria-hidden="true"></i></br>
          For booking or any other enquiries: </br>
          Email: monfort.holidays@gmail.com </br>
        </div>
        <div class="activity-header property-header ">
          <strong>Pricing</strong>
          <hr class="underline-white">
        </div>
        <p class="pricing-text">
        Discounts available for parties of 6 or fewer:</br>
        <p class="pad-small">
          High season (beginning of July to beginning of September):  <br/>£2900 per week</br>
          Rest of the year:<br/> £1900 per week
        </p>
        </p>

      </div>
      <div class="columns six">
        <div class="calendar-container">
          <iframe src="https://calendar.google.com/calendar/embed?src=artygoodhart%40gmail.com&ctz=Europe/London" style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>

      </div>
    </div>



</div>
</div>
