<script>src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"</script>

</script>

<div class="max-width">
  <div class="section">
    <div class="section-content">

      <div class="rowe nav-bar max-width">
        <div class="columns ten offset-by-one">
          <a href="#section2">LOCATION</a>
          <a href="#section3">ABOUT</a>
          <a href="#section4">LOCAL AMENITIES</a>
          <a href="#section5">GALLERY</a>
          <a href="#section6">CONTACT & AVIALABILITY</a>
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-content">
      <div id="sliderFrame">
        <div id="slider">
          <%= image_tag("Bedroom1big.jpg", class: "scrolling-images") %>
          <%= image_tag("Bedroom2big.jpg", class: "scrolling-images") %>
          <%= image_tag("House1big.jpg", class: "scrolling-images") %>
          <%= image_tag("House2big.jpg", class: "scrolling-images") %>
          <%= image_tag("kitchenbig.jpg", class: "scrolling-images") %>
          <%= image_tag("Livingroombig.jpg", class: "scrolling-images") %>
          <%= image_tag("livingroombig2.jpg", class: "scrolling-images") %>
          <%= image_tag("Poolbig.jpg", class: "scrolling-images") %>
        </div>
      </div>
    </div>
  </div>

  <div class="section title-bar rowe" id="section2">
    LOCATION
  </div>

  <div class="section">
    <div class="location section-content">
      Welcome to the <br/> South of France <br/> Nearest city - Mauvezin <br /> Region - Midi-Pyenees <br/>
      <%= image_tag("Franceoutline.png", id: "franceoutline") %>
      <div id="section3"></div>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="section title-bar rowe max-width" >
    ABOUT
  </div>
  <div class="background ">
    <div class="section">
      <div class="section-content">
        <div class="about-content">
          <div class="rowe">
            <div class="columns three">
              <h7>Seasons</h7>
              <hr class="underline">
              <p>
                In spring and summer, families can enjoy the outdoor spaces with swimming pool, climbing frame, table tennis table and large grassed area for badminton and ball games. Additional outdoor terraces at the front and rear are ideal for al fresco dining.</br>
                In autumn and winter, full central heating ensures that the whole house is warm. An imposing living room fireplace is ideal for generous log fires during winter evenings.
              </p>
            </div>


            <div class="columns six">
              <h7>The House</h7>
              <hr class="underline">
              <p>
                Living areas are spacious and comfortably furnished, offering plenty of flexible space for adults and children of all ages.

                Ground floor consists of a large, open kitchen/dining room, ideal for small or large groups and fully equipped with high standard electrical appliances (including dishwasher, coffee machine, toaster and food processor); and a spacious, comfortable reception room with plenty of seating.

                At the rear is a sunny and spacious second reception with mezzanine floor and futons for additional sleeping accommodation. A separate utility room contains a washing machine, tumble dryer and an additional very large fridge-freezer. There is a large bathroom (with bath and separate shower) and a separate WC.

                On the first floor are five good-sized double bedrooms, one with en suite bathroom that features a free-standing bath (with views of the village!), walk-in shower and twin basins. Four of the bedrooms have double beds, the fifth has twin beds with two further z-beds available if required. There is an additional family bathroom with walk-in shower and twin basins, and a separate WC.
              </p>
            </div>
            <div class="columns three">
              <h7>Description</h7>
              <hr class="underline">
              <p>
                This is a beautiful, fully modernised farmhouse in the heart of the Gascony countryside, with accommodation that is ideal for both summer and winter. Situated in a quiet and secluded hilltop location, it has lovely views of nearby Monfort village and is just a 10-minute drive from the historic market towns of Fleurance and Mauvezin.

              </p>
            </div>
          </div>
          <hr>
          <div class="rowe">
            <div class="columns six">
              <h7>Features</h7>
              <hr class="underline">
              Swimming pool (13m x 6.5m), surrounded by large paved terrace with pool house (including refrigerator) and a pool alarm</br>

              Sunny paved terraces at front and back</br>

              TV with UK satellite channels (Freesat), DVD player and good stock of DVDs</br>

              Music stereo system with large selection of CDs</br>

              Wi-fi throughout</br>

              Barbecue</br>

              Outdoor climbing frame, table tennis, badminton set, bicycles, and a large selection of indoor board games
            </div>
            <div class="columns six">
              <h7>Accomodation</h7>
              <hr class="underline">
              Two living rooms (one with TV and large working fireplace)</br>

              Spacious dining area with large custom-made table seating up to 12</br>

              Large, very well equipped kitchen</br>

              5 bedrooms (1 double with ensuite, 3 further doubles, 1 twin with flexibility for 2 further beds)</br>

              1 large bathroom with walk in shower</br>

              1 further large bathroom with bath and separate shower</br>

              Utility room with washing machine, tumble dryer and additional fridge-freezer</br>

            </div>

          </div>
        </div>
        <div id="section4"></div>
        <div class="spacer"></div>
      </div>
    </div>

    <div class="section">
      <div class="section-content">
        <div class="rowe title-bar">
          LOCAL AMENITIES
        </div>
        <div id="section5"></div>
        <div class="spacer"></div>
      </div>
    </div>



    <div class="gallery-section">
      <div class="section-content">
        <div class="rowe title-bar">
          GALLERY
        </div>

        <div class="gallery cf">
          <div>
            <%= image_tag("house1small.jpg") %>
          </div>

          <div>
            <%= image_tag("bedroom2.jpg") %>
          </div>
          <div>
            <%= image_tag("house2small.jpg") %>
          </div>


          <div>
            <%= image_tag("Outsideeating.jpg") %>
          </div>
          <div>
            <%= image_tag("Pool.jpg") %>
          </div>
          <div>
            <%= image_tag("bedroom2small.jpg") %>
          </div>
          <div>
            <%= image_tag("livingroom2small.jpg") %>
          </div>
          <div>
            <%= image_tag("Livingroom2.jpg") %>
          </div>




          <div>
            <%= image_tag("kitchen.jpg") %>
          </div>
        </div>
        <div id="section6"></div>
        <div class="spacer"></div>
      </div>
    </div>




    <div class="section">
      <div class="section-content">
        <div class="rowe title-bar">
          CONTACT & AVAILABILITY
        </div>
        <div class="calendar-container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="well controls">
                <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-backward"></i>
                <% end %>
                <%= "#{@date.strftime("%B")} #{@date.year}" %>
                <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-forward"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= calendar @date do |date| %>
              <%= date.day %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
