<!DOCTYPE html>
<html>
<head>
  <title>Monfort Maison - Rent a Beautiful house in the South of France.</title>
  <meta name="description=" content="Rent a family friendly beautiful house in the south of France for you
  perfect relaxing holiday.">
  <link rel="icon" type="image/png" href="/assets/Franceoutline.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
